node_modules
.idea
**/.DS_Store
public/**
.history

### Yarn 2
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.hugo_build.lock
yarn.lock

# if you are NOT using Zero-installs, then:
# comment the following lines
#!.yarn/cache

# and uncomment the following lines
.pnp.*

.hugo*.lock

yarn.lock
