<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{ partial "portfolio/header.html" . }}
    <body {{- if .Site.Params.themeColor }}class="{{ .Site.Params.themeColor }} {{if .Site.Params.layoutReverse}}layout-reverse{{ end }}"{{end}}>
        {{ partial "sidebar.html" . }}
        {{ partial "portfolio/content.html" . }}
        <!-- Google Analytics -->
        {{ if and (not .Site.BuildDrafts) (.Site.GoogleAnalytics) -}}
            {{ template "_internal/google_analytics_async.html" . }}
        {{- end }}
    </body>    
</html>