html,
body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.66rem;
}

h1 {
    font-size: 2.45rem;
}
h2 {
    font-size: 1.95rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}

.img-circle {
    border-radius: 50%;
}

.headshot {
    height: 115px;
    width: 115px;
}

.brand {
    font-size: 2.6em;
    margin-bottom: 0;
}

.text-center {
    text-align: center;
}

.meta {
    font-size: .8rem;
    font-weight: 300;
}

pre {
    padding: 1px;
    tab-size: 2;
}

.hljs {
    overflow-x: auto;
    white-space: pre;
}

pre code,
li code,
td code,
code {
    background: #eee;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding: 1px 4px;
    white-space: pre-wrap;
}

code {
    font-family: 'Source Code Pro', monospace;
    font-size: 82%;
}

.copyright,
.poweredby {
    font-size: 13px;
    font-weight: 300;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Changing from font-awesome 4 to 5, the class pull-right was removed */

.pull-right {
    float: right;
}

a:focus,
a:hover {
    border-width: 2px;
    border-style: none none solid;
    padding-bottom: 0;
    text-decoration: none;
    background-color: transparent;
    background: transparent;
    cursor: pointer;
    word-wrap: break-word;
}

a:hover .tag {
    border-style: none;
}

.tag {
    background: #d6d9e0;
    border-radius: 2px;
    display: inline-block;
    color: #606570;
    font-size: .8rem;
    line-height: 1rem;
    padding: 0 10px 1px;
}

.subtitle {
    display: block;
    font-size: 1.5rem;
    font-style: italic;
    padding: 0 0 1rem 0;
}

.list-title {
    font-size: 1.875rem;
    line-height: 1.25;
}

.list-title a {
    color: #303030;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .pull-right {
        display: none;
    }
}
