//colors
$color_gallery_approx: #eee;
$color_alto_approx: #d9d9d9;
$color_geyser_approx: #d6d9e0;
$color_shuttle_gray_approx: #606570;
$color_mine_shaft_approx: #303030;

//fonts
$font_0: "IBM Plex Sans";
$font_1: "sans-serif";
$font_2: "Source Code Pro";
$font_3: "monospace";

//@extend-elements
//original selectors
//html, body
%extend_1 {
	font-family: $font_0, $font_1;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.66rem;
}

//original selectors
//pre code, li code, td code, code
%extend_2 {
	background: $color_gallery_approx;
	border: 1px solid $color_alto_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 4px;
	padding: 1px 4px;
	white-space: pre-wrap;
}

//original selectors
//a:focus, a:hover
%extend_3 {
	border-width: 2px;
	border-style: none none solid;
	padding-bottom: 0;
	text-decoration: none;
	background-color: transparent;
	background: transparent;
	cursor: pointer;
	word-wrap: break-word;
}


html {
	@extend %extend_1;
}
body {
	@extend %extend_1;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.55rem;
}
h4 {
	font-size: 1.25rem;
}
.img-circle {
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 50%;
}
.headshot {
	height: 115px;
	width: 115px;
}
.brand {
	font-size: 2.6em;
	margin-bottom: 0;
}
.text-center {
	text-align: center;
}
.meta {
	font-size: .8rem;
	font-weight: 300;
}
pre {
	padding: 1px;
	tab-size: 2;
	code {
		@extend %extend_2;
	}
}
.hljs {
	overflow-x: auto;
	white-space: pre;
}
code {
	@extend %extend_2;
	font-family: $font_2, $font_3;
	font-size: 82%;
}
.copyright {
	font-size: 13px;
	font-weight: 300;
}
.poweredby {
	font-size: 13px;
	font-weight: 300;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.pull-right {
	float: right;
}
a {
	&:focus {
		@extend %extend_3;
	}
	&:hover {
		@extend %extend_3;
		.tag {
			border-style: none;
		}
	}
}
.tag {
	background: $color_geyser_approx;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 2px;
	display: inline-block;
	color: $color_shuttle_gray_approx;
	font-size: .8rem;
	line-height: 1rem;
	padding: 0 10px 1px;
}
.subtitle {
	display: block;
	font-weight: bold;
	font-size: 1.25rem;
	font-style: italic;
	padding: 0 0 1rem 0;
}
.list-title {
	font-size: 1.875rem;
	line-height: 1.25;
	a {
		color: $color_mine_shaft_approx;
	}
}
@media(max-width: 768px) {
	.pull-right {
		display: none;
	}
}
li code {
	@extend %extend_2;
}
td code {
	@extend %extend_2;
}