//colors
$color_mine_shaft_approx: #303030;
$white: #fff;
$color_shakespeare_approx: #479fc8;
$color_boston_blue_approx: #3893bd;
$color_nevada_approx: #5f6b77;
$color_slate_gray_approx: #778492;
$color_chateau_green_approx: #3aaa64;
$color_calypso_approx: #276582;

//@extend-elements
//original selectors
//.col-sm-4, .col-md-4, .col-sm-8, .col-md-8, .col-xs-12
%extend_1 {
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}


.row {
	margin-left: -15px;
	margin-right: -15px;
}
.col-xs-12 {
	width: 100%;
	@extend %extend_1;
}
.col-sm-4 {
	@extend %extend_1;
}
.col-md-4 {
	@extend %extend_1;
}
.col-sm-8 {
	@extend %extend_1;
}
.col-md-8 {
	@extend %extend_1;
}
@media(min-width: 992px) {
	.col-md-4 {
		float: left;
		width: 33.33333333%;
	}
	.col-md-8 {
		float: left;
		width: 66.66666667%;
	}
	.portfolio-container {
		width: 1360px;
	}
}
@media(min-width: 768px) {
	.col-sm-8 {
		width: 66.66666667%;
	}
}
.portfolio-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 38rem;
	padding-left: 1rem;
	padding-right: 1rem;
}
.portfolio-content {
	padding-bottom: 2rem;
	padding-top: 2rem;
}
@media(min-width: 48em) {
	.portfolio-content {
		margin-left: 20rem;
		margin-right: 2rem;
		max-width: 38rem;
	}
}
@media(min-width: 64em) {
	.portfolio-content {
		margin-left: 20rem;
		margin-right: 2rem;
		max-width: 44rem;
	}
}
h1 {
	color: $color_mine_shaft_approx;
	font-weight: 700;
}
h2 {
	color: $color_mine_shaft_approx;
	font-weight: 700;
}
h3 {
	color: $color_mine_shaft_approx;
	font-weight: 700;
	font-size: 1.675rem;
}
.btn {
	font-weight: bold;
	padding: 8px 16px;
	&:focus {
		color: $white;
	}
}
.btn-cta-secondary {
	background: $color_shakespeare_approx;
	border: 1px solid $color_shakespeare_approx;
	color: $white;
	font-weight: 600;
	text-transform: uppercase;
	&:hover {
		background: $color_boston_blue_approx;
		border: 1px solid $color_boston_blue_approx;
		color: $white;
	}
}
.text-left {
	text-align: left;
}
.section {
	margin-bottom: 30px;
	.section-inner {
		background: $white;
		padding: 30px;
	}
	.heading {
		margin-top: 0;
		margin-bottom: 30px;
		color: $color_mine_shaft_approx;
		font-size: 2.125rem;
	}
}
.item {
	margin-bottom: 30px;
	.title {
		margin-top: 0;
		a {
			color: $color_mine_shaft_approx;
			&:hover {
				color: $color_nevada_approx;
			}
		}
	}
	.project-image:hover {
		opacity: 0.8;
	}
}
.divider {
	margin-bottom: 60px;
}
.featured {
	margin-bottom: 60px;
	.title {
		margin-bottom: 5px;
	}
	.summary {
		margin-bottom: 30px;
		color: $color_slate_gray_approx;
	}
	img {
		margin-bottom: 30px;
	}
	.desc {
		margin-bottom: 30px;
	}
}
.featured-image {
	position: relative;
	.text {
		background: $color_chateau_green_approx;
		color: $white;
	}
	.ribbon {
		position: absolute;
		top: -4px;
		right: -4px;
		width: 110px;
		height: 110px;
		overflow: hidden;
		.text {
			position: relative;
			left: -8px;
			top: 18px;
			width: 158px;
			padding: 10px;
			font-size: 15px;
			font-weight: bold;
			text-align: center;
			text-transform: uppercase;
			color: $white;
			background-color: $color_shakespeare_approx;
			//Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
			transform: rotate(45deg) translate3d(0, 0, 0);
			&:before {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $color_calypso_approx;
				bottom: -5px;
				content: '';
				position: absolute;
				left: 0;
			}
			&:after {
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				border-top: 5px solid $color_calypso_approx;
				bottom: -5px;
				content: '';
				position: absolute;
				right: 0;
			}
		}
	}
}
@media(max-width: 767px) {
	.project-image {
		margin-bottom: 15px;
	}
}
.desc .summary {
	margin-bottom: 30px;
	color: $color_slate_gray_approx;
	font-style: italic;
}