$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #878787;
$gray-4: #767676;
$gray-5: #515151;
$gray-6: #313131;

$white: #fff;
$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

$root-font-family: "IBM Plex Sans", "Segoe UI", "Roboto", "Ubuntu", "Fira Sans", "Droid Sans", Helvetica, Arial, sans-serif;
$root-font-size: 17px;
$root-line-height: 1.5;

$body-color: $gray-5;
$body-bg: #fff;

$border-color: #e5e5e5;

$large-breakpoint: 38em;
$large-font-size: 20px;

$code-font-family: "Source Code Pro", "Roboto Mono", Inconsolata, Cousine, "Ubuntu Mono", "Fira Code", Consolas, "Courier New", monospace;
$code-font-size: .84rem;
$code-color: #bf616a;
$code-background-color: #f9f2f4;
$code-line-height: 1.4;

$link-color: $body-color;
$link-hover-color: $blue;

$meta-font-size: .8rem;

$tag-background-color: #d6d9e0;
$tag-color: #606570;

$tag-font-size: .667rem;

$item__date-color: #9a9a9a;
$item__date-font-size: .85rem;

$item__title-big-font-size: 1.785rem;

$heading-font-weight: 400;
$h1-font-size: 2.15rem;
$h1-line-height: 1.25;
$h2-font-size: 1.85rem;
$h3-font-size: 1.5rem;
$h4-font-size:1.3rem;

$sidebar-color: #300030;

$site__title-font-size: 3rem;